MONGODB_URI=mongodb+srv://admin:admin@cluster0.mongodb.net/e-commerce?retryWrites=true&w=majority
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
BREVO_API_KEY=xkeysib-your-key-here
SENDER_EMAIL=your-shop-email@domain.com
SENDER_NAME="Antivoid Shop"
JWT_SECRET=d2cdf94c99822261cf4e91a9cb37eeb9da5fb70baa013444f48eb829e94f99c5
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password123
WHATSAPP_NUMBER=6281234567890
XENDIT_SECRET_KEY=xnd_development_your_key_here
XENDIT_CALLBACK_TOKEN=your_callback_token_here
PORT=9292